/*
 * react-calendar-heatmap styles
 *
 * All of the styles in this file are optional and configurable!
 * The github and gitlab color scales are provided for reference.
 */

.react-calendar-heatmap text {
  font-size: 10px;
  fill: #aaa;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

/*
 * Default color scale
 */

.react-calendar-heatmap .color-empty {
  fill: #eeeeee;
}

.react-calendar-heatmap .color-filled {
  fill: #8cc665;
}

/*
 * Github color scale
 */

.react-calendar-heatmap .color-green-0 {
  fill: #eeeeee;
}
.react-calendar-heatmap .color-green-1 {
  fill: #d6e685;
}
.react-calendar-heatmap .color-green-2 {
  fill: #8cc665;
}
.react-calendar-heatmap .color-green-3 {
  fill: #44a340;
}
.react-calendar-heatmap .color-green-4 {
  fill: #1e6823;
}

/*
 * Gitlab color scale
 */

.react-calendar-heatmap .color-blue-0 {
  fill: #ededed;
}
.react-calendar-heatmap .color-blue-1 {
  fill: #acd5f2;
}
.react-calendar-heatmap .color-blue-2 {
  fill: #7fa8d1;
}
.react-calendar-heatmap .color-blue-3 {
  fill: #49729b;
}
.react-calendar-heatmap .color-blue-4 {
  fill: #254e77;
}

/*
 * Pink color scale
 */

.react-calendar-heatmap .color-pink-0 {
  fill: #ededed;
}
.react-calendar-heatmap .color-pink-1 {
  fill: #ff8fa3;
}
.react-calendar-heatmap .color-pink-2 {
  fill: #ff4d6d;
}
.react-calendar-heatmap .color-pink-3 {
  fill: #c9184a;
}
.react-calendar-heatmap .color-pink-4 {
  fill: #800f2f;
}


/*
 * Red color scale
 */

.react-calendar-heatmap .color-red-0 {
  fill: #fee7db;
}
.react-calendar-heatmap .color-red-1 {
  fill: #fc9d7f;
}
.react-calendar-heatmap .color-red-2 {
  fill: #f85f43;
}
.react-calendar-heatmap .color-red-3 {
  fill: #cf1c1f;
}
.react-calendar-heatmap .color-red-4 {
  fill: #76030f;
}

/*
 * Purple color scale
 */

.react-calendar-heatmap .color-purple-0 {
  fill: #edebf4;
}
.react-calendar-heatmap .color-purple-1 {
  fill: #c4c5e0;
}
.react-calendar-heatmap .color-purple-2 {
  fill: #9793c5;
}
.react-calendar-heatmap .color-purple-3 {
  fill: #715faa;
}
.react-calendar-heatmap .color-purple-4 {
  fill: #4b1687;
}

/*
 * Yellow color scale
 */

.react-calendar-heatmap .color-yellow-0 {
  fill: #edebf4;
}
.react-calendar-heatmap .color-yellow-1 {
  fill: #c4c5e0;
}
.react-calendar-heatmap .color-yellow-2 {
  fill: #9793c5;
}
.react-calendar-heatmap .color-yellow-3 {
  fill: #715faa;
}
.react-calendar-heatmap .color-yellow-4 {
  fill: #4b1687;
}

/*
 * Daylio color scale
 */

.react-calendar-heatmap .color-daylio-0 {
  fill: #dc1839;
}
.react-calendar-heatmap .color-daylio-1 {
  fill: #ffa011;
}
.react-calendar-heatmap .color-daylio-2 {
  fill: #ffff0a;
}
.react-calendar-heatmap .color-daylio-3 {
  fill: #9dff00;
}
.react-calendar-heatmap .color-daylio-4 {
  fill: #00ff59;
}
